/*
 *
 * Header
 *
 */

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  /*min-height: 89px;*/
  transition: min-height 0.3s;
}

.header__inner {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  height: 72px;
  margin-right: 1em;
  margin-top: 12px;
  padding: 10px;
}

.header__title {
  font-weight: 300;
  font-size: 4em;
  margin: 0.5em 0.25em;
  display: inline-block;
  color: #212121;
}

/*
 *
 * Footer
 *
 */

footer {
  border-top: 1px solid #E0E0E0;
  padding: 1em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

footer li {
  display: inline-block;
  margin: 0 1em;
}

footer a {
  text-decoration: none;
  color: #333;
  padding: 1.5em;
}


.images {
  border: 2px;
  width: 200px;
  height: 150px;
}

ul {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}

.pics > li {
  margin: 10px;
}

main {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

body,
html {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
}

/*@media only screen and (max-width: 768px) {
  .pics {
    display: inline;
  }
}*/
